@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow");
.clear {
  clear: both !important; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

.center {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

@media (max-width: 767px) {
  .smart_left {
    text-align: left !important; } }

@media (max-width: 767px) {
  .smart_right {
    text-align: right !important; } }

.white {
  color: #fff !important; }

.black {
  color: #000 !important; }

.gray {
  color: #666 !important; }

.gray_ddd {
  color: #ddd !important; }

.red {
  color: red !important; }

.f10 {
  font-size: 10px !important; }

.f12 {
  font-size: 12px !important; }

.f14 {
  font-size: 14px !important; }

.f16 {
  font-size: 16px !important; }

.f18 {
  font-size: 18px !important; }

.f20 {
  font-size: 20px !important; }

.bold {
  font-weight: bold !important; }

.normal {
  font-weight: normal !important; }

.w100 {
  width: 100% !important; }

.txt {
  white-space: nowrap !important;
  text-overflow: ellipsis !important; }

.block {
  display: block !important; }

.i-b {
  display: inline-block !important; }

.inline {
  display: inline !important; }

.none {
  display: none !important; }

.break {
  word-wrap: break-word !important; }

.b_top {
  border-top: 1px solid #eee; }

.b_btm {
  border-bottom: 1px solid #eee; }

.border0 {
  border: 0 !important; }

.radius0 {
  border-radius: 0 !important; }

/*マージン*/
.margin5 {
  margin: 5px !important; }

.margin0_5 {
  margin: 0 5px !important; }

.margin5_0 {
  margin: 5px 0 !important; }

.margin10 {
  margin: 10px !important; }

.margin0_10 {
  margin: 0 10px !important; }

.margin10_0 {
  margin: 10px 0 !important; }

.margin0 {
  margin: 0 !important; }

.margin15 {
  margin: 15px !important; }

.margin0_15 {
  margin: 0 15px !important; }

.margin15_0 {
  margin: 15px 0 !important; }

.margin20_0 {
  margin: 20px 0 !important; }

.margin0_auto {
  margin: 0 auto !important; }

/*パディング*/
.padding30 {
  padding: 30px !important; }

.padding20 {
  padding: 20px !important; }

.padding15 {
  padding: 15px !important; }

.padding10 {
  padding: 10px !important; }

.padding5 {
  padding: 5px !important; }

.padding0 {
  padding: 0 !important; }

.padding0_10 {
  padding: 0 10px !important; }

.padding10_0 {
  padding: 10px 0 !important; }

.padding0_5 {
  padding: 0 5px !important; }

.padding5_0 {
  padding: 5px 0 !important; }

.padding0_8 {
  padding: 0 8px !important; }

.padding0_15 {
  padding: 0 15px !important; }

/*float フロート*/
.f_right {
  float: right !important; }

.f_left {
  float: left !important; }

.f_none {
  float: none !important; }

/*ガター無し*/
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.row {
  margin: 0; }

/*ドットリスト*/
ul.dotlist {
  padding: 10px 0 10px 25px; }
  ul.dotlist li {
    padding: 0 10px 0 0;
    margin-bottom: 5px;
    list-style-position: outside;
    list-style-type: disc; }

.abel {
  font-family: 'Abel', sans-serif; }

.arch {
  font-family: 'Archivo Narrow', sans-serif; }

a {
  color: #000 !important;
  outline: none !important; }
  a:hover {
    text-decoration: underline; }

.container {
  width: auto; }

h1 {
  font-weight: bold; }
  h1.page-title {
    text-align: center; }
  h1.member_page_title {
    font-size: 22px !important;
    font-letter-spacing: 1px; }
    h1.member_page_title span {
      display: inline-block;
      width: auto;
      padding: 5px 10px;
      line-height: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-style: solid;
      border-color: #000;
      border-width: 0 0 2px; }

h2 {
  font-size: 22px !important;
  font-letter-spacing: 1px;
  font-weight: bold; }
  h2 span {
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-style: solid;
    border-color: #000;
    border-width: 0 0 2px; }

h3 {
  border: none !important;
  font-size: 18px !important;
  font-letter-spacing: 1px;
  font-weight: bold; }

h4, h5 {
  font-weight: bold; }

em {
  color: #000 !important; }

ul.insta li a {
  display: block; }
  ul.insta li a img {
    width: 100%;
    height: auto; }
